:root{
  --primary-color: #274C77;
  --secondary-color: #a3cef1bf;
  --accent-color1: #6096ba9e;
  --accent-color2: #292929;
  --font-style: none;
  --padding: 1rem;

}

.hi-melody-regular {
    font-family: "Hi Melody", sans-serif;
    font-weight:500;
    font-size: 25px;
    font-style: normal;
  }
.aref-ruqaa-ink-bold {
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 700;
    font-style: normal;
  }
body{
  margin: 0;
  padding:0 ;
}

header{
  background-color: var(--primary-color);
  padding: var(--padding);
  display: grid;
  grid-template-columns: 1fr 1fr;

}
 
header nav{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 425px;
}

header nav a {
  padding: 0 20px;
}

header nav a:hover{
  color: var(--secondary-color);
}


.hero{
  position: relative;
}

.hero img{
  display: block;
  width: 100%;
  height: auto;
}  

.hero h1{
  position: absolute;
  width: 100%;
  max-width: 96%;
  top: 2%;
  padding: 2%;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.412);
}
  
.hero article{
  position: absolute;
  background-color: var(--secondary-color);
  padding: var(--padding);
  width: 50%;
  top: 12%;
  left: 20%;
}

.hero article img{
  float: right;
  width: 15em;
}


.hero section img{
  width: 300px;
  height: auto;
  margin: 5px;
}

.hero section{
  margin: 10px;
  padding: var(--padding);
  background-color: var(--secondary-color);
}

.hero section h2{
  text-align: center;
}

.img {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:stretch ;
}


p{
  color: var(--accent-color2);
}

h2, h1{
  color: var(--accent-color1);
}

a {
  color: var(--accent-color2);
  text-decoration: var(--font-style);
}

footer{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: var(--secondary-color);
}

 footer nav{
  grid-column: 3/4;
  grid-row: 2/3;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-content:end;
} 

footer p{
  font-size: 10px;
  grid-column: 2/3;
  grid-row: 3/4;
  align-self:end;
  text-align:center;
  height: fit-content;
}
