:root{
    --font-color2: #ffffff;
    --alt-bg-color: #efefef;
    --alt-bg-color2: #fafafa;
    --font-color1: #91dcff;
    --contrast-bg:#000655;
    --bg-color1: #000000;
    --border-color: #7c7c7c;
}

.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 900;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 1.5px;
}

.arvo-regular-normal {
    font-family: "Arvo", serif;
    font-size: 16px;
    word-spacing: 3px;
    font-style: normal;
}

.arvo-regular-italic {
    font-family: "Arvo", serif;
    font-weight: 400;
    /* font-style: italic; */
}

li{
    list-style: none;
}

body{
    background-color: var(--bg-color1);
    color: var(--font-color2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.pas-link{ 
    /* To all passive links */
    text-decoration: none;
    color: var(--font-color2);
    margin: 5px;
}


/* From here the header---------------core---------------------------------- */

.header-container{
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center ;
    padding: 20px;
    background-color: var(--bg-color1);
    box-shadow: 0 0 10px var(--bg-color1) ;
}

.headernav {
    /* border: 2px solid red;  */
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    width:fit-content ;
}

.head-link{
    margin: 0 10px;
    font-weight: 600;
    text-decoration: none;
    color: var(--font-color2);
    display: block;
    padding: 10px 10px;
    border-bottom: 2px solid var(--bg-color1);
    transition: .5s;
}

.head-link:hover{
    color: var(--font-color1);
    border-bottom: 2px solid var(--font-color1);
}

header h1{
    /* border: 2px solid red;  */
    grid-column: 1/2;
    align-content: center;
    width: fit-content;
    color: var(--font-color1);
    text-wrap: nowrap;
}

/* From here the main feed------core-------------------------------- */
main{
    border-bottom: 1px solid var(--border-color); 
    width: 100%;
    display: grid;
    grid-template: 1fr / 15% 70% 15%;
    align-content:start;
}
/* the aside module--------core---------------------------------- */
.mn-aside{ /* not used at this moment*/
    grid-area: 1/1/2/2;
    height: 100%;
    width:100% ;
    padding: 0;
    /* background-color:var(--alt-bg-color); */
}

/* From here the footer------------core-------------------------------------*/
footer {
    padding-top: 10px;
    width: 100%;
    background-color: var(--contrast-bg);
    text-align: center;
    display: grid;
    grid-template:75px .5fr / 1fr 1fr 1fr;
    box-shadow:0 0 30px var(--font-color1);
}


/* home page stuff ------------------------*/

 /* side bar */
.asd-it{
    margin: 10px 10px 25px 10px;
}

/* main feed */
.hero{
    grid-area: 1/1/2/5;
    position: relative;
}
.hero img{
    width: 100%;
    height: auto;
}

.fd-cont{
    grid-area:2/2/3/3 ;
    margin: 0 10%;
    padding: 5px 10px;
}

.hm-overlay{
    padding: 70px 0;
    padding-left: 10%;
    position: absolute;
    width: 60%;
    top: 100px;
    color: var(--font-color2);
    display: grid;
    grid-template-rows: 1fr .5fr 1fr;
}

.i-one{
    grid-row: 1/2 ;
}
.i-two{
    font-size: 25px;
    grid-row: 3/4 ;
    justify-self:center;
}

.img1{   
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow:0 0 100px  var(--font-color1);
    float: right;
    margin-left: 50px;
    margin-bottom: 30px;
}

.mn-it{
    margin-bottom:100px ;
    display: flex;
    flex-flow: row wrap;
}

.it-tecn{
    background-color: var(--border-color);
    border: 2px solid var(--font-color1);
    border-radius: 5px;
    width: 200px;
    height: 200px;
    margin: 10px;
}

/* Footer */
.network{
    grid-area: 1/2/2/3;
    justify-self: center;
    align-self: center;
    align-self:flex-start;  
}

.copy{
    grid-area: 2/2/3/3;
    color: var(--border-color);
    font-size: 10px;
}

footer img{
    width: 35px;
    height: 35px;
}

.p-lk-cont{
    grid-area: 1/2/2/3;
    justify-self:center ;  
    align-self:flex-end;  
}

.ft-lk-cont{
    margin: 0 25px;
    width:fit-content ;
    text-align: center;
    display: flex;
    flex-direction: row;
}